




<div class="form-container">
  <h1> Login </h1>
  <% if flash[:errors] %>
    <%= flash[:errors] %>
  <% end %>
  <%#<h3> Welcome Back! </h3>%>
  <%= form_for :session, url: login_path do |f| %>
    <div class="form-input">
      <%= f.label :user_name %>
      <%= f.text_field :user_name %>
    </div>

    <div class="form-input">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

    <%= f.submit "Log In", class: "form-btn" %>

    <br>
    <br>
    <%= button_to "New User? Sign Up! 🖋 ", new_user_path %>
    
  <% end %>

</div>


