<h1> Edit Routine </h1>

<% # Need some way to iterate over ever exercise in a routine, and display those exercise on form%>

<%= form_for @routine_exercises do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <% # collection select for now, once we have session going this should probably be a hidden field that just looks for user ID from session?%>
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :name %>
    <br>
    <br>
    <% %>

    <br>
    <br>
    <%= f.submit "Edit Routine" %>
<% end %>