<h1><%= @routine.name %></h1>

<% # We want to have the exercises for this routine listed here, and an entry field%>

<h3> Exercises in this routine </h3>
<% @routine.routine_exercises.each do |re| %>
    <ul>
    <li>
        Exercise: <%= link_to re.exercise.name.capitalize, exercise_path(re.exercise) %><br>
        Repetitions: <%= re.reps%>
        <%= button_to "Edit Exercise", edit_routine_exercise_path(re), method: :get%>
    </li>
    </ul>
<% end %>

<h3> Add an exercise </h3>

<%= form_for @routine_exercise do |f| %>
    <%= f.label :exercise %>
    <%= f.collection_select :exercise_id, Exercise.all, :id, :name %>
    <br>
    <br>
    <%= f.label :reps %>
    <%= f.number_field :reps %>
    <br>
    <br>
    <%= f.submit "Add Exercise" %>

    <%= f.hidden_field :routine_id, value: @routine.id%>
<% end %>
<br>
<br>
<hr>

<h3> Journal </h3> needs to be sorted by date, most recent at top

<% @routine.entries.each do |entry| %>
    <% if entry.user_id == cookies[:user_id].to_i%>
        <ul>
            <li>
            <%= link_to entry.title, entry_path(entry) %><br><br>
            <%= entry.description %>
            </li>
        </ul>
    <% end %>
<% end %>


<h2> Let the world know.. </h2>

<%= form_for @entry do |f| %>
    <%= f.label :title %> 
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    <br>
    <%= f.hidden_field :routine_id, value: @routine.id %>
    <%= f.hidden_field :user_id, value: cookies[:user_id].to_i %>

    <%= f.submit "Add entry" %>
<% end %>
