<h1> Edit Entry </h1>

<% if flash[:entry_errors] %>
  <ul>
    <% flash[:entry_errors].each do |error| %>
      <li><%= error %></li>
    <% end%>
  </ul>
<% end%>

<%= form_for @entry do |f| %>
    <%= f.label :title %> 
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>
    <br>
    <%= f.submit %>
<% end %>

<%= button_to "Delete This Entry", entry_path(@entry), method :delete %>