<div class="container">
    <div class="container-fluid">
        <h1 style="color:white"><%= @entry.routine.name %> Entry </h1>


        <h2 style="color:white">Title: <%= @entry.title %></h2>

        <p>
        Description: <br><br>
        <%= @entry.description%>
        </p>

        <br>
        <br>
        <a class="btn btn-primary" href="/entries/<%=@entry.id%>/edit/" role="button">Edit Entry</a>
        <br>
        <br>
        <h4>Author: <%= link_to @entry.user.name, user_path(@entry.user) %></h4>
    </div>
</div>