

<div class="container-fluid">
    <div class="container">
        <h1 style="color:white"><%= @entry.routine.name %> Entry </h1>
        <h2 style="color:white">Title: <%= @entry.title %></h2>

        <p style="color:white">
        Description: <br><br>
        <%= @entry.description%>
        </p>

        <br>
        <br>
        <a class="btn btn-light" href="/entries/<%=@entry.id%>/edit/" role="button">Edit Entry</a>
        <br>
        <br>
        <h4 style="color:white">Author: <%= link_to @entry.user.user_name, user_path(@entry.user) %></h4>
    </div>
</div>