<h1> Edit Profile </h1>

<% if flash[:user_errors] %>
  <ul>
    <% flash[:user_errors].each do |error| %>
      <li><%= error %></li>
    <% end%>
  </ul>
<% end%>

<%= form_for @user do |f| %>
    <%= f.label :name %> 
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <br>
    <br>
    <%= f.label :weight %>
    <%= f.number_field :weight %>
    <br>
    <br>
    <%= f.label :height %>
    <%= f.number_field :height %>
    <br>
    <br>
    <%= f.submit %>
<% end %>

<br>
<br>

<%= button_to "Delete This Profile", user_path(@user), method: :delete %>