
<div class="form-container">
  <h1>Create a New User </h1> 

  <% if flash[:user_errors] %>
    <ul>
      <% flash[:user_errors].each do |error| %>
        <li><%= error %></li>
      <% end%>
    </ul>
  <% end%>

  <%= form_for @user do |f| %>
      <%= f.label :user_name %>
      <%= f.text_field :user_name %>
      <br>
      <br>
      <%= f.label :password %>  
      <%= f.password_field :password %>
      <br>
      <br>
      <%= f.label :name %>  
      <%= f.text_field :name %>
      <br>
      <br>
      <%= f.label :age %>
      <%= f.number_field :age %>
      <br>
      <br>
      <%= f.label :weight %> (in pounds)
      <%= f.number_field :weight %>
      <br>
      <br>
      <%= f.label :height %> (in inches)
      <%= f.number_field :height %>
      <br>
      <br>
      <%= f.submit class: "btn btn-light" %>
  <% end %>
</div>