

<%= @user.id %><br>
<% @unique_routines.each do |ur|%>
   <%= ur.user_id%>
<% end %>

<h1><%= "#{@user.user_name}'s Routines" %></h1>

   <% @unique_routines.each do |ur| %>
      <ul>
         <li>
            <p>
            <button class="accordian">Routine: <%= ur.name %></button>
            <div class="panel">
            <% ur.entries.each do |entry| %>
               <% if entry.user_id == @user.id%>
               <p>
                  <%= "Title: #{entry.title}" %><br>
                  <%= "Description: #{entry.description}" %>
               </p>
               <% end %>
            <% end %>
            </div>
            </p>
         </li>
      </ul>
   <% end %>
