<div class="container">
    <div class="container-fluid">
    <% if @user.id == @current_user.id %>
        <h1 style="color:white"> About Me </h1>

            <% if @user.img_url%>
                <%= image_tag @user.img_url, class: 'show-img' %>
            <% else %>
                <img src="https://thumbs.dreamstime.com/b/abstract-woman-meditating-splash-watercolors-lotus-yoga-pose-fitness-abstract-woman-meditating-splash-watercolors-137768632.jpg" class="show-img">
            <% end %>
        
        <ul class="list-group">
            <li class="list-group-item">Username: <%= @user.user_name %></li>
            <li class="list-group-item">Name: <%= @user.name %></li>
            <li class="list-group-item">Age: <%= @user.age %></li>
            <li class="list-group-item">Weight: <%= @user.weight %> lbs.</li>
            <li class="list-group-item">Height: <%= @user.height %> inches </li>
        </ul>
    

        <br>
        <br>
        <a class="btn btn-light" href="/users/<%=@user.id%>/edit" role="button">Edit Profile</a>
    </div>

    <div class ="container-fluid">
        <h2 style="color:white"> My Routines </h2>

        <ul class="list-group">
        <% @unique_routines.each do |ur| %>
            <li class="list-group-item"><%= ur.name %></li>
        <% end %>
        </ul>
        <br>

        <a class="btn btn-light" href="/routines/" role="button">Manage routines and entries</a>
    
        <br>
        <br>

        <a class="btn btn-light" href="/routines/new/" role="button">Add Routine</a>
    </div>
    <% else %>
    <div class="container-fluid">
        <h1 style="color:white"> About <%= @user.user_name%> </h1>

        <% if @user.img_url%>
            <%= image_tag @user.img_url, class: 'show-img' %>
        <% else %>
            <img src="https://thumbs.dreamstime.com/b/abstract-woman-meditating-splash-watercolors-lotus-yoga-pose-fitness-abstract-woman-meditating-splash-watercolors-137768632.jpg" class="show-img">
        <% end %>

        <ul class="list-group">
            <li class="list-group-item">Username: <%= @user.user_name %></li>
            <li class="list-group-item">Name: <%= @user.name %></li>
            <li class="list-group-item">Age: <%= @user.age %></li>
            <li class="list-group-item">Weight: <%= @user.weight %> lbs.</li>
            <li class="list-group-item">Height: <%= @user.height %> inches </li>
        </ul>
    </div>
    <div class="container-fluid">
        <h2 style="color:white"> Their Routines </h2>

        <ul class="list-group">
        <% @unique_routines_for_other.each do |ur| %>
            <li class="list-group-item"><%= ur.name %></li>
        <% end %>
        </ul>

        <br>
        <a class="btn btn-light" href="/users/<%=@user.id%>/page/" role="button">See their routines and entries</a>
    <% end %>
    </div>
</div>
