<h1> About Me </h1>

<h4> Name: <%= @user.name %></h4>

<h4> Age: <%= @user.age %></h4>

<h4> Weight: <%= @user.weight %> lbs. </h4>

<h4> Height: <%= @user.height %> inches </h4>

<h3> My Routines </h3>


<% @user.routines.uniq.each do |routine| %>
    <li><%= link_to routine.name, user_routines_path %></li>
<% end %>

