<h1> About Me </h1>

<h4> Name: <%= @user.name %></h4>

<h4> Age: <%= @user.age %></h4>

<h4> Weight: <%= @user.weight %></h4>

<h4> Height: <%= @user.height %></h4>

<h3> My Routines </h3>


<% @user.routines.each do |routine| %>
    <li><%= link_to routine.name, routine_path(routine) %></li>
<% end %>