# <h1> About Me </h1>

# <h4> Name: <%= user.name %></h4>
# <br>
# <br>
# <h4> Age: <%= user.age %></h4>
# <br>
# <br>
# <h4> Weight: <%= user.weight %></h4>
# <br>
# <br>
# <h4> Height: <%= user.height %></h4>
# <br>
# <br>
# <br>
# <br>
# <h3> My Routines </h3>

# <%= user.routines.each do |routine| %>
#     <%= link_to routine.name, routine_path(routine) %>
