<h1> About Me </h1>

<h4> Name: <%= @user.name %></h4>

<h4> Age: <%= @user.age %></h4>

<h4> Weight: <%= @user.weight %> lbs. </h4>

<h4> Height: <%= @user.height %> inches </h4>

<h3> My Routines </h3>


<% @user.routines.uniq.each do |routine| %>
    <li><%= routine.name %></li>
<% end %>
<br>
<%= link_to "See all routines and entries", routines_path%>

<br>
<br>
<hr>

<h3>Add a Routine</h3>

