<h1> New Exercise </h1>

<% if flash[:exercise_errors] %>
  <ul>
    <% flash[:exercise_errors].each do |error| %>
      <li><%= error %></li>
    <% end%>
  </ul>
<% end%>

<%= form_for @exercise do |f| %>
    <%= f.label :name %> 
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :difficulty %>
    <%= f.text_field :difficulty %>
    <br>
    <br>
    <%= f.submit %>
<% end %>