<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%#banner%>
    <div class="banner">
      <%# image_tag "cats_tinder.gif", class: "banner-img" %>
      <h1 id="banner-header">gym flame  </h1>
    </div>

        <%# bootstrap nav bar%>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if controller_name == "pages" && action_name == "home" %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Up", new_user_path %></li>
        <li><%= link_to "Login", new_login_path %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Discover", users_path %></li>
        <li><%= link_to "My Routines", routines_path %></li>
        <li><%= link_to "Exercises", exercises_path %></li>
        <li><%= link_to "Create An Exercise", new_exercise_path %></li>
        <li><%= link_to "New Routine", new_routine_path %></li>
        </ul>
      <% end %>
      <% if @current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li> <div class="right"><%= link_to "Logout", logout_path, method: :delete  %></div></li>
        <li> <div class="right">Welcome <%= link_to @current_user.name, user_path(@current_user.id) %></div></li>
      <% else %>
      
  <% end %>
  </ul>
    
  </div>
  </nav>

<%# Current nav bar%>
    

    <div class="container">
      <%= yield %>
    </div>

    <%# boostrap stuff don't delete%>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
  </body>
</html>
